/*Creating variables to make it easier to make consistent changes*/
:root {
    --font-color: #091039;
    --nav-background: #F9F9ED;
    --element-background: #E1DBFD;
    --hover-color: #6E5FAF;
    --border-color: #BAB0E6;
    --list-color: #EAE4FA;
    --border-size: 3vw;
}

/*Universal selector to apply to all elements*/
* {
    box-sizing: border-box;
    font-family: sans-serif;
    top: 0;
    left: 0;
}

/*For styling most images throughout website*/
.images {
    border-radius: 2rem;
    border: 0.3rem solid var(--border-color);
    padding: 0.5rem;
    margin: 1rem;
}

/*Adding margin to all headers so they appear under nav bar initially*/
header {
    margin-top: 10vmax;
}

/*For giving a consistent look to the unordered lists in the website*/
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*For styling h2 and h3 tags throughout website*/
h2, h3 {
    color: var(--font-color);
    text-align: center;
    padding-top: 2rem ;  
}


/*NAV STYLING SECTION*/


.navbar {
    min-height: 7vh;
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-background);
    z-index: 3; /*For making nav bar go over all elements when scrolling*/
    padding: 0 10vw;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1%;
}


.burger {
    display: none;
    cursor: pointer;
}


.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #091039;
}


.colourChanger {
    text-align: center;
}


.colourChanger > button {
    margin-top: 0.5vh;
}


.navbar > .nav-menu > .nav-items > a{
    background-color: var(--element-background);
    color: black;
    border-radius: var(--border-size);
    text-decoration: none;
    padding: 0.5rem;
}


.navbar > .nav-menu > .nav-items > a:hover {
    background-color: var(--hover-color);
    color: white;
}



@media only screen and (max-width: 880px) {
    .burger {
        display: block;
    }


    .burger.on .bar:nth-child(2){
        opacity: 0;
    }


    .burger.on .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }


    .burger.on .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }


    .nav-menu {
        position: fixed;
        left: -200%;
        top: 7vh;
        flex-direction: column;
        background-color: var(--nav-background);
        width: 100%;
        text-align: center;
    }


    .nav-menu.on {
        left: 0;
        gap: 3vmax;
        padding: 1vh 0;
    }
}


@media only screen and (max-height: 700px) {
    .nav-menu.on {
        gap: 3vmax;
    }
}










/*INDEX PAGE STYLING SECTION*/

















/*For styling the contents on the index page*/
#indexGrid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-areas: 
        "hero hero"
        "description introText"
        "description workPreview";
    justify-content: center;
    gap: 2vw 0;
    padding: 0 7vw;
    margin-top: 10vmax;
}

/*For styling the section that holds the hero image*/
#hero {
    height: 30vh;
    grid-area: hero;
}

/*For smaking the hero image the proper size*/
#hero img {
    border-radius: var(--border-size);
    width: 100%;
    height: 100%;
}

/*For styling the captivating introduction on the main page*/
#introText {
    background-color: var(--element-background);
    color: var(--font-color);
    border: 0.1rem solid var(--border-color);
    border-radius: var(--border-size);
    text-align: center;
    font-size: 2vw;
    padding: 3vh 5vw;
    grid-area: introText;
}

/*For styling first line of header on main page*/
#introText > h1::first-line, #smallerText {
    font-size: 1vw;
}

/*For styling the section that holds preview of work on main page*/
#workPreview {
    background-color: var(--element-background);
    border: 0.1rem solid var(--border-color);
    border-radius: var(--border-size);
    text-align: center;
    grid-area: workPreview;
}

#workPreview > h2 {
    font-size: 2.5vw;
}

/*For styling the preview of work image on the main page*/
#previewImage {
    border-radius: var(--border-size);
    width: 20vw;
    padding: 0.5vh;
}

/*For styling the section that holds my description on main page*/
#description {
    text-align: center;
    padding-top: 3vh;
    grid-area: description;
    font-size: 1vw;
}


#description > p {
    padding: 0 5vw;
}

/*For styling the profile picture of me on main page*/
#profileImage {
    border-radius: 5rem;
    border: 0.1rem solid var(--border-color);
    width: 15vw;
}

/*For styling link in the description section slightly different than links in nav bar*/
#description > a {
    background-color: var(--element-background);
    color: black;
    border-radius: var(--border-size);
    text-decoration: none;
    padding: 0.4rem;
}

/*For adding same change when hovering as nav bar links*/
#description > a:hover {
    background-color: var(--hover-color);
    color: white;
}


@media only screen and (max-width: 880px) {
    p, #introText > h1::first-line, #smallerText {
        font-size: 1.25vmax;
    }
}


@media only screen and (max-width: 500px) {
    #profileImage {
        width: 40vw;
    }


    #hero {
        margin-top: 5vh;
        height: 20vh;
    }


    #selfDescription {
        font-size: 3vw;
    }


    #description > h2 {
        font-size: 5vw;
    }


    #description > p {
        font-size: 1rem;
    }


    #description > a {
        font-size: 3vw;
    }


    #introText > h1 {
        font-size: 5vw;
    }


    #introText > h1::first-line, #smallerText, #workPreview > h2 {
        font-size: 3vw;
    }


    #workPreview {
        font-size: 4vw;
    }

    #previewImage {
        width: 50vw;
    }


    #indexGrid {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "hero"
            "description"
            "introText"
            "workPreview";
        padding: 0 5vw;
        margin-top: 5vh;
        gap: 7vh;
    }
}






/*ABOUT PAGE STYLING SECTION*/


/*For styling header on main page*/
#missionStatement {
    color: var(--font-color);
    text-align: center;
}

/*For styling the main content on the about page*/
#aboutMain {
    color: var(--font-color);
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-areas: "bg bg skillsAttributes";
    justify-content: center;
    gap: 3rem;
}

/*For styling the background information on about page*/
#background {
    background-color: var(--element-background);
    border-radius: var(--border-size);
    border: 0.1rem solid var(--border-color);
    text-align: center;
    padding: 5rem;
    grid-area: bg;
}

/*For styling the paragraphs that are siblings on the first paragraph on about page*/


/*For styling the unordered list on the about page*/
#skillsAttributes {
    background-color: var(--element-background);
    border-radius: var(--border-size);
    border: 0.1rem solid var(--border-color);
    grid-area: skillsAttributes;
}

/*More styling on the lists, and list elements on the about page*/
#skillsAttributes > ul > li, ul > ol > li  {
    background-color: var(--list-color);
    border-radius: var(--border-size);
    padding: 1rem;
    margin: 1rem;
}


@media only screen and (max-width: 880px) {
    #background > p {
        font-size: 2vmax;
    }


    #background {
        padding: 4vw;
    }
}


@media only screen and (max-width: 500px) {
    #missionStatement {
        font-size: 3vh;
    }


    #aboutMain {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "bg"
            "skillsAttributes";
        padding: 0 5vw;
    }


    #background > p{
        font-size: 2vh;
        margin: 4vh 0;
    }


    #background {
        padding: 4vw;
    }
}


/*EXPERIENCE PAGE STYLING SECTION*/


/*For positioning the table in the center on the page on the experience page*/
#experienceHeader {
    display: flex;
    justify-content: center;
}

/*For overriding the appearance of h2 tags on the expereience page*/
.experienceMain > h2 {
    font-size: xx-large;
}

/*For styling the table header on the expereience page*/
th {
    font-size: 2rem;
}

/*For Styling table data on the experience page*/
td {
    padding: 0.5rem 5rem;
}

/*More styling on the table on the experience page*/
table, td {
    color: var(--font-color);
    border: 0.2rem solid black;
    border-collapse: collapse; /*Making border of table data and outside border the same*/
}

/*For styling the display of projects on the experience page*/
.experienceMain {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-areas: 
        "projects projects"
        "robotics placeholder"
        "achievementHeader achievementHeader"
        "achievements achievements";
    justify-content: center;
    gap: 1vh 5vw;
    padding: 2vh 5vw;
}


#projectHeader {
    grid-area: projects;
}


#achievementHeader {
    grid-area: achievementHeader;
}

/*For styling the presentation of past robotics project on experience page*/
#robotics {
    background-color: var(--element-background);
    color: var(--font-color);
    border-radius: var(--border-size);
    border: 0.1rem solid var(--border-color);
    text-align: center;
    padding: 2vmax;
    grid-area: robotics;
}

/*For styling the video in the experience page*/
#roboticsVideo {
    border-radius: var(--border-size);
    border: 0.1rem solid var(--border-color);
    width: 100%;
    z-index: 2;
}

/*For styling the project placeholder on the expeience page*/
.placeholder {
    background-color: var(--element-background);
    columns: var(--font-color);
    border-radius: var(--border-size);
    border: 0.1rem solid var(--border-color);
    text-align: center;
    grid-area: placeholder;
}


.placeholder > p {
    position: relative;
    top: 50%;
}


#robotics p, .placeholder p {
    font-size: 1rem;
}

/*For styling the achievements nested list on the experience page*/
#achievements {
    background-color: var(--element-background);
    border-radius: var(--border-size);
    border: 0.1rem solid var(--border-color);
    padding: 1rem;
    grid-area: achievements;
}

/*For adding padding to the nested list elements*/
ul > ol > li {
    padding: 0.5rem;
}


@media only screen and (max-width: 880px) {
    td{
        padding: 0 10vw;
    }
}


@media only screen and (max-width: 500px) {
    .experienceMain {
        grid-template-columns: minmax(0, 1fr);
        grid-template-areas: 
            "projects"
            "robotics"
            "placeholder"
            "achievementHeader"
            "achievements";
    }


    td {
        padding: 0 8vw;
    }


    .placeholder {
        height: 25rem;
    }
}


/*INTERESTS PAGE STYLING SECTION*/


/*For creating a grid with the contents on the interests page*/
#interestMain {
    color: var(--font-color);
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-areas: 
        "audioAndBook audioAndBook audioAndBook"
        "video video video"
        "gallery gallery gallery"
        "bridge waterfall badminton";
    justify-content: center;
    gap: 3rem 1rem;
    text-align: center;
    padding: 0 5vw;
    margin-top: 10vmax;
}

/*Making separate grid as a grid element to display only 2 items evenly*/
#audioAndBook {
    display: grid;
    grid-template-areas: "book audio";
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-area: audioAndBook;
    gap: 2rem;
}

/*For styling the book section on the interests page*/
#book {
    background-color: var(--element-background);
    border-radius: var(--border-size);
    border: 0.1rem solid var(--border-color);
    padding: 0 3rem;
    grid-area: book;
}

/*For styling the audio section on the interests page*/
#audio {
    background-color: var(--element-background);
    border: 0.1rem solid var(--border-color);
    border-radius: var(--border-size);
    padding: 3rem;
    grid-area: audio;
}

/*For styling the audio player on the interests page*/
#audioPlayer {
    border-radius: 5vmax;
    border: 0.1rem solid var(--border-color);
    width: 90%;
}

/*For styling the embedded YouTube video on the interests page*/
#youtubeVideo {
    background-color: var(--element-background);
    border-radius: var(--border-size);
    border: 0.1rem solid var(--border-color);
    padding: 1rem;
    grid-area: video;
}

iframe {
    width: 70%;
    height: 25rem;
}


#gallery {
    background-color: var(--element-background);
    color: var(--font-color);
    border-radius: var(--border-size);
    border: 0.1rem solid var(--border-color);
    font-size: 5vh;
    grid-area: gallery;
}

/*For styling the picture of a bridge on the interests page*/
#bridge {
    background-color: var(--element-background);
    border-radius: var(--border-size);
    border: 0.1rem solid var(--border-color);
    grid-area: bridge;
}

/*For styling the picture of my badminton team on the interests page*/
#badminton {
    background-color: var(--element-background);
    border-radius: var(--border-size);
    border: 0.1rem solid var(--border-color);
    grid-area: badminton;
}

/*For styling the picture of the waterfall on the interests page*/
#waterfall {
    background-color: var(--element-background);
    border-radius: var(--border-size);
    border: 0.1rem solid var(--border-color);
    grid-area: waterfall;
}

/*For changing the height of the waterfall image as it is a portrait image*/
#bridge img, #badminton img, #waterfall img {
    width: 20vw;
    padding: 0.5rem;
}


/*For styling the paragraph adjacent to the audio player on the interests page*/
audio ~ p {
    margin: 3rem 0;
}


#book p, #audio p, #youtubeVideo p, #bridge p, #badminton p, #waterfall p, cite {
    font-size: 1rem;
    padding: 1rem;
}


@media only screen and (max-width: 880px) {
    #audioAndBook {
        grid-template-columns: minmax(0, 1fr);
        grid-template-areas: 
            "book"
            "audio";
        gap: 1rem;
    }
    #interestMain {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-areas: 
            "audioAndBook audioAndBook"
            "video video"
            "gallery gallery"
            "bridge badminton"
            "waterfall waterfall";
    }


    iframe {
        width: 60vw;
        height: 20rem;
    }


    #bridge img, #badminton img, #waterfall img {
        width: 30vw;
        padding: 1vw;
    }


    #gallery p {
        font-size: 4vh;
        margin: 3vw;
    }
}


@media only screen and (max-width: 500px) {
    #interestMain {
        grid-template-columns: minmax(0, 1fr);
        grid-template-areas: 
            "audioAndBook"
            "video"
            "gallery"
            "bridge" 
            "badminton"
            "waterfall";
        gap: 3vh;
    }


    iframe {
        width: 70vw;
        height: 25vh;
    }


    #bridge img, #badminton img, #waterfall img {
        width: 80%;
        padding: 1vw;
    }


    #book, #audio {
        padding: 2rem 1vw;
    }
}


/*CONTACT PAGE STYLING SECTION*/


/*For adding padding to the top of the form so it appears under the nav bar*/
#form {
    margin-top: 10vmax;
}

/*For styling the form on the contact page*/
form {
    background-color: var(--element-background);
    border-radius: 1em;
    border: 0.1rem solid var(--border-color);
    width: 50%;
    padding: 1vmax;
    margin: 0 auto;
}

/*For styling the list elements in the form on the contact page*/
form li + li {
    margin-top: 1em;
}

/*For styling the lables in the formon the contact page*/
label {
    display: inline-block;
    width: 5vw;
}

/*For styling the input parts of the form on the contact page*/
input, textarea {
    vertical-align: top;
    width: 100%;
}

/*For styling the button of the form on the contact page*/

/*For styling the input elements through attribute selector in the form on the contact page*/
li > *[placeholder~="Enter"] {
    border: 0.2rem inset;
}

@media only screen and (max-width: 880px) {
    form {
        width: 80%;
    }
}
