/*Creating variables to make it easier to make consistent changes*/
:root {
    --font-color: #091039;
    --nav-background: #F9F9ED;
    --element-background: #E1DBFD;
    --hover-color: #6E5FAF;
    --border-color: #BAB0E6;
    --list-color: #EAE4FA;
    --border-size: 3vw;
}

/*Universal selector to apply to all elements*/
* {
    box-sizing: border-box;
    font-family: sans-serif;
    top: 0;
    left: 0;
}

/*Adding space between the bottom of every page and the browser*/
main {
    margin-bottom: 5rem;
}

/*For styling most images throughout website*/
.images {
    border-radius: 2rem;
    border: 0.3rem solid var(--border-color);
    padding: 0.5rem;
    margin: 1rem;
}

/*Adding margin to all headers so they appear under nav bar initially*/
header {
    margin-top: 10vmax;
}

/*For giving a consistent look to the unordered lists in the website*/
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*For styling h2 and h3 tags throughout website*/
h2, h3 {
    color: var(--font-color);
    text-align: center;
}



/*NAV STYLING SECTION*/



/*For styling the default nav bar*/
.navbar {
    background-color: var(--nav-background);
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
    width: 100vw;
    min-height: 7vh;
    z-index: 3; /*For making nav bar go over all elements when scrolling*/
}

/*For styling the actual list of nav buttons*/
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1%;
}

/*For styling the burger icon box initially*/
.burger {
    display: none;
    cursor: pointer;
}

/*For styling the lines that make up the burger icon*/
.bar {
    background-color: black;
    display: block;
    margin: 5px auto;
    width: 25px;
    height: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/*For centering the colour changer feature*/
.colourChanger {
    text-align: center;
}

/*Spacing out the apply button and the colour selector*/
.colourChanger > button {
    margin-top: 0.5vh;
}

/*For styling the links in the nav bar*/
.navbar > .nav-menu > .nav-items > a {
    background-color: var(--element-background);
    color: black;
    border-radius: var(--border-size);
    text-decoration: none;
    padding: 0.5rem;
}

/*For styling the links in the nav bar when they are hovered over*/
.navbar > .nav-menu > .nav-items > a:hover {
    background-color: var(--hover-color) !important;
    color: white;
}

/*For styling the links of the current pages to indicate which page the user is on*/
#aboutLink, #experienceLink, #interestsLink, #contactLink {
    background-color: var(--border-color);
}

/*Media query activated when the window width is less than 880px*/
@media only screen and (max-width: 880px) {
    /*For styling the burger menu*/
    .burger {
        display: block;
    }

    /*For removing the middle bar of the burger menu when the nav bar becomes a drop down menu*/
    .burger.on .bar:nth-child(2){
        opacity: 0;
    }

    /*For moving and rotating the first bar of the burger menu when the nav bar becomes a drop down menu*/
    .burger.on .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    /*For moving and rotating the second bar of the burger menu when the nav bar becomes a drop down menu*/
    .burger.on .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    /*For styling the links that is initially hidden*/
    .nav-menu {
        background-color: var(--nav-background);
        position: fixed;
        text-align: center;
        flex-direction: column;
        top: 7vh;
        left: -200%;
        width: 100%;
    }

    /*For styling the links when the drop down menu is opened*/
    .nav-menu.on {
        left: 0;
        padding: 4vh 0;
        gap: 3vmax;
    }
}

/*Media query activated when the window height is less than 700px*/
@media only screen and (max-height: 700px) {
    /*For spacing out the links*/
    .nav-menu.on {
        gap: 4vmax;
    }
}

/*Media query activated when the window height is less than 500px*/
@media only screen and (max-height: 500px) {
    /*For spacing out the logo and drop down sections*/
    .nav-menu.on {
        margin-top: 2vh;
    }
}

/*Media query activated when the window height is less than 350px*/
@media only screen and (max-height: 350px) {
    /*For spacing out the links and also the logo and drop down sections*/
    .nav-menu.on {
        margin-top: 4vh;
        gap: 3vmax;
    }

    /*For changing the padding of the links*/
    .navbar > .nav-menu.on > .nav-items > a {
        padding: 0.3rem;
    }
}

/*Media query for when the window height is less than 200px*/
@media only screen and (max-height: 300px) {
    /*For spacing out the logo and drop down sections*/
    .nav-menu.on {
        margin-top: 6vh;
        gap: 2vmax;
    }
}



/*INDEX PAGE STYLING SECTION*/



/*For styling the contents on the index page*/
#indexGrid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)); /*Defining range of sizes columns can be*/
    grid-template-areas: 
        "hero hero"
        "description introText"
        "description workPreview";
    justify-content: center;
    padding: 0 7vw;
    margin-top: 10vmax;
    gap: 2vw 0;
}

/*For styling the section that holds the hero image*/
#hero {
    background-image: url('Images/HeroImage.png'); /*This is the hero image on index.html*/
    background-size: 100% 100%;
    color: white;
    border-radius: var(--border-size);
    text-align: center;
    height: 100%;
    top: 50%;
    grid-area: hero;
}

/*For styling the text on the hero image*/
#hero h1 {
    font-size: 5vw;
}

/*For styling the captivating introduction section*/
#introText {
    background-color: var(--element-background);
    color: var(--font-color);
    border: 0.1rem solid var(--border-color);
    border-radius: var(--border-size);
    text-align: center;
    font-size: 2vw;
    padding: 5vh 5vw;
    grid-area: introText;
    margin-right: 7vw;
}


/*For styling the section that holds preview of work on main page*/
#workPreview {
    background-color: var(--element-background);
    border: 0.1rem solid var(--border-color);
    border-radius: var(--border-size);
    text-align: center;
    grid-area: workPreview;
    margin-right: 7vw;
}

/*For styling the description*/
#shortDescription {
    font-size: 1vmax;
}

/*For styling the intro text header*/
#introText h1 {
    font-size: 1.25vmax;
}

/*For styling the work preview h3*/
#workPreview h3 {
    font-size: 1.5vw;
}

/*For styling the span that encompases my name*/
#largeName {
    font-size: 3vw;
}

/*For styling the header in the work preview section*/
#workPreview > h2 {
    font-size: 2.5vw;
}

/*For styling the preview of work image*/
#previewImage {
    border-radius: var(--border-size);
    padding: 0.5vh;
    margin-bottom: 3rem;
    width: 20vw;
}

/*For styling the section that holds my description on main page*/
#description {
    text-align: center;
    padding-top: 3vh;
    font-size: 1vw;
    grid-area: description;
}

/*For styling the paragraphs in the description section*/
#description > p {
    padding: 0 5vw;
}

/*For styling the profile picture of me on main page*/
#profileImage {
    border-radius: 5rem;
    border: 0.1rem solid var(--border-color);
    width: 15vw;
}

/*For styling link in the description section slightly different than links in nav bar*/
#description > a {
    background-color: var(--element-background);
    color: black;
    border-radius: var(--border-size);
    text-decoration: none;
    padding: 0.4rem;
}

/*For adding same change when hovering as nav bar links*/
#description > a:hover {
    background-color: var(--hover-color);
    color: white;
}

/*Media query that activates when the window width is less than 880px*/
@media only screen and (max-width: 880px) {
    /*For styling the paragraphs in the description section, and the short description section*/
    #description > p, #shortDescription, #introText > h1 {
        font-size : 0.8rem;
    }

    /*For styling the link in the description section*/
    #description > a {
        font-size: 0.6rem;
        padding: 0.5rem;
    }
}

/*Media query that activates when the window width is less than 500px*/
@media only screen and (max-width: 500px) {
    /*For styling the hero image section*/
    #hero {
        margin-top: 10%;
    }

    /*For styling the profile picture*/
    #profileImage {
        width: 40vw;
    }

    /*For styling the header in the hero image*/
    #hero h1 {
        margin-top: 3rem;
    }

    /*For styling the self description section*/
    #selfDescription {
        font-size: 3vw;
    }

    /*For styling the header in the description section*/
    #description > h2 {
        font-size: 5vw;
    }

    /*For styling the paragraphs in the description section, and the short description section*/
    #description > p, #shortDescription {
        font-size :3vmax;
    }

    /*For styling the link in the description section*/
    #description > a {
        font-size: 4vw;
        padding: 0.5rem;
    }

    /*For styling the headers in the intro text and work preview sections*/
    #introText > h1, #workPreview h2 {
        font-size: 5vw;
    }

    /*For styling the h3 in the work preview section*/
    #workPreview h3 {
        font-size: 4vw;
    }

    /*For styling the span that encompases my name*/
    #largeName {
        font-size: 7vw;
    }

    /*For styling the work preview section*/
    #workPreview {
        font-size: 4vw;
        margin-right: 0;
    }

    /*For styling the intro text section*/
    #introText {
        margin-right: 0;
    }

    /*For styling the preview image*/
    #previewImage {
        width: 50vw;
    }

    /*For redefining the layou for mobile view*/
    #indexGrid {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "hero"
            "description"
            "introText"
            "workPreview";
        padding: 0 5vw;
        margin-top: 10%;
        gap: 7vh;
    }
}



/*ABOUT PAGE STYLING SECTION*/



/*For styling header on main page*/
#missionStatement {
    color: var(--font-color);
    text-align: center;
}

/*For styling the main content on the about page*/
#aboutMain {
    color: var(--font-color);
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr)); /*Defining range of sizes columns can be*/
    grid-template-areas: "bg bg skillsAttributes";
    justify-content: center;
    gap: 3rem;
    padding: 0 5rem;
}

/*For styling the background information on about page*/
#background {
    background-color: var(--element-background);
    border-radius: var(--border-size);
    border: 0.1rem solid var(--border-color);
    text-align: center;
    padding: 5rem;
    grid-area: bg;
}

/*For styling the unordered list*/
#skillsAttributes {
    background-color: var(--element-background);
    border-radius: var(--border-size);
    border: 0.1rem solid var(--border-color);
    grid-area: skillsAttributes;
}

/*More styling on the lists, and list elements*/
#skillsAttributes > ul > li, ul > ol > li  {
    background-color: var(--list-color);
    border-radius: var(--border-size);
    padding: 1rem;
    margin: 1rem;
}

/*Media query that activates when the window width is less than 880px*/
@media only screen and (max-width: 880px) {
    /*For rearranging the main page for table and mobile views*/
    #aboutMain {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "bg"
            "skillsAttributes";
        padding: 0 5vw;
    }

    /*For styling the background section*/
    #background {
        padding: 4vw;
    }

    /*For styling the paragraphs in the background section*/
    #background > p {
        font-size: 2vmax;
    }
}

/*Media query that activates when the window width is less than 500px*/
@media only screen and (max-width: 500px) {
    /*For styling the mission statement section*/
    #missionStatement {
        font-size: 3vh;
        margin-top: 20%;
    }

    /*For styling the background section*/
    #background {
        padding: 4vw;
    }

    /*For styling the paragraphs in the background section*/
    #background > p{
        font-size: 2vh;
        margin: 4vh 0;
    }
}



/*EXPERIENCE PAGE STYLING SECTION*/



/*For positioning the table in the center on the page*/
#experienceHeader {
    display: flex;
    justify-content: center;
}

/*For overriding the appearance of h2 tags*/
.experienceMain > h2 {
    font-size: xx-large;
}

/*For styling the table header*/
th {
    font-size: 2rem;
}

/*For Styling table data*/
td {
    padding: 0.5rem 5rem;
}

/*More styling on the table*/
table, td {
    color: var(--font-color);
    border: 0.2rem solid black;
    border-collapse: collapse; /*Making border of table data and outside border the same*/
}

/*For styling the display of projects section*/
.experienceMain {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)); /*Defining range of sizes columns can be*/
    grid-template-areas: 
        "projects projects"
        "robotics placeholder"
        "achievementHeader achievementHeader"
        "achievements achievements";
    justify-content: center;
    padding: 2vh 5vw;
    gap: 1vh 5vw;
}

/*For allowing project header section to be put into the grid*/
#projectHeader {
    grid-area: projects;
}

/*For allowing the achievements header section to be put into the grid*/
#achievementHeader {
    grid-area: achievementHeader;
}

/*For styling the presentation of past robotics project*/
#robotics {
    background-color: var(--element-background);
    color: var(--font-color);
    border-radius: var(--border-size);
    border: 0.1rem solid var(--border-color);
    text-align: center;
    padding: 2vmax;
    grid-area: robotics;
}

/*For styling the video in the experience page*/
#roboticsVideo {
    border-radius: 1rem;
    border: 0.1rem solid var(--border-color);
    width: 100%;
    z-index: 2;
}

/*For styling the project placeholder section*/
.placeholder {
    background-color: var(--element-background);
    columns: var(--font-color);
    border-radius: var(--border-size);
    border: 0.1rem solid var(--border-color);
    text-align: center;
    grid-area: placeholder;
}

/*For styling the paragraph in the placeholder section*/
.placeholder > p {
    position: relative;
    top: 50%;
}

/*For styling the paragraphs in the robotics and placeholder sections*/
#robotics p, .placeholder p {
    font-size: 1rem;
}

/*For styling the achievements nested list*/
#achievements {
    background-color: var(--element-background);
    border-radius: var(--border-size);
    border: 0.1rem solid var(--border-color);
    padding: 1rem;
    grid-area: achievements;
}

/*For adding padding to the nested list elements*/
ul > ol > li {
    padding: 0.5rem;
}

/*Media query that activates when the window width is less than 880px*/
@media only screen and (max-width: 880px) {
    /*For styling the table data*/
    td{
        padding: 0 10vw;
    }
}

/*Media query that activates when the window width is less than 500px*/
@media only screen and (max-width: 500px) {
    /*For styling the experience header section*/
    #experienceHeader {
        margin-top: 20%;
    }

    /*For rearranging the main content for mobile view*/
    .experienceMain {
        grid-template-columns: minmax(0, 1fr); /*Defining range of sizes colum can be*/
        grid-template-areas: 
            "projects"
            "robotics"
            "placeholder"
            "achievementHeader"
            "achievements";
    }

    /*For styling the table data*/
    td {
        padding: 0 8vw;
    }

    /*For styling the placeholder section*/
    .placeholder {
        height: 25rem;
    }
}



/*INTERESTS PAGE STYLING SECTION*/



/*For creating a grid with the contents on the interests page*/
#interestMain {
    color: var(--font-color);
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr)); /*Defining range of sizes columns can be*/
    grid-template-areas: 
        "audioAndBook audioAndBook audioAndBook"
        "video video video"
        "gallery gallery gallery"
        "bridge waterfall badminton";
    justify-content: center;
    text-align: center;
    padding: 0 5vw;
    margin-top: 10vmax;
    gap: 3rem 1rem;
}

/*Making separate grid as a grid element to display only 2 items evenly*/
#audioAndBook {
    display: grid;
    grid-template-areas: "book audio";
    grid-template-columns: repeat(2, minmax(0, 1fr)); /*Defining range of sizes columns can be*/
    gap: 2rem;
    grid-area: audioAndBook;
}

/*For styling the book section*/
#book {
    background-color: var(--element-background);
    border-radius: var(--border-size);
    border: 0.1rem solid var(--border-color);
    padding: 0 3rem;
    grid-area: book;
}

/*For styling the audio section*/
#audio {
    background-color: var(--element-background);
    border: 0.1rem solid var(--border-color);
    border-radius: var(--border-size);
    padding: 3rem;
    grid-area: audio;
}

/*For styling the audio player*/
#audioPlayer {
    border-radius: 5vmax;
    border: 0.1rem solid var(--border-color);
    width: 90%;
}

/*For styling the embedded YouTube video*/
#youtubeVideo {
    background-color: var(--element-background);
    border-radius: var(--border-size);
    border: 0.1rem solid var(--border-color);
    padding: 1rem;
    grid-area: video;
}

/*For styling the embedded video*/
iframe {
    width: 70%;
    height: 25rem;
}

/*For styling the gallery header section*/
#gallery {
    background-color: var(--element-background);
    color: var(--font-color);
    border-radius: var(--border-size);
    border: 0.1rem solid var(--border-color);
    font-size: 5vh;
    grid-area: gallery;
}

/*For styling the picture of a bridge section*/
#bridge {
    background-color: var(--element-background);
    border-radius: var(--border-size);
    border: 0.1rem solid var(--border-color);
    grid-area: bridge;
}

/*For styling the picture of my badminton team section*/
#badminton {
    background-color: var(--element-background);
    border-radius: var(--border-size);
    border: 0.1rem solid var(--border-color);
    grid-area: badminton;
}

/*For styling the picture of the waterfall section*/
#waterfall {
    background-color: var(--element-background);
    border-radius: var(--border-size);
    border: 0.1rem solid var(--border-color);
    grid-area: waterfall;
}

/*For changing the height of the waterfall image as it is a portrait image*/
#bridge img, #badminton img, #waterfall img {
    padding: 0.5rem;
    width: 20vw;
}

/*For styling the paragraph adjacent to the audio player section*/
audio ~ p {
    margin: 3rem 0;
}

/*For styling the paragraphs in the book, audio, youtube video, bridge, badminton, and waterfall section, as well as the cite tag*/
#book p, #audio p, #youtubeVideo p, #bridge p, #badminton p, #waterfall p, cite {
    font-size: 1rem;
    padding: 1rem;
}

/*Media query that activates when the window width is less than 880px*/
@media only screen and (max-width: 880px) {
    /*For styling the audio and video section grid for tablet view*/
    #audioAndBook {
        grid-template-columns: minmax(0, 1fr); /*Defining range of sizes column can be*/
        grid-template-areas: 
            "book"
            "audio";
        gap: 1rem;
    }

    /*For rearranging the content of the interests page for tablet view*/
    #interestMain {
        grid-template-columns: repeat(2, minmax(0, 1fr)); /*Defining range of sizes columns can be*/
        grid-template-areas: 
            "audioAndBook audioAndBook"
            "video video"
            "gallery gallery"
            "bridge badminton"
            "waterfall waterfall";
    }

    /*For styling the embedded video*/
    iframe {
        width: 60vw;
        height: 20rem;
    }

    /*For styling the images in the bridge, badminton, and waterfall sections*/
    #bridge img, #badminton img, #waterfall img {
        padding: 1vw;
        width: 30vw;
    }

    /*For styling the paragraph in the gallery header section*/
    #gallery p {
        font-size: 4vh;
        margin: 3vw;
    }
}

/*Media query that activates when the window width is less than 500px*/
@media only screen and (max-width: 500px) {
    /*For rearranging the content on the interests page for mobile view*/
    #interestMain {
        margin-top: 20%;
        grid-template-columns: minmax(0, 1fr); /*Defining range of sizes column can be*/
        grid-template-areas: 
            "audioAndBook"
            "video"
            "gallery"
            "bridge" 
            "badminton"
            "waterfall";
        gap: 3vh;
    }

    /*For styling the embedded video*/
    iframe {
        width: 70vw;
        height: 25vh;
    }

    /*For styling the images in the bridge, badminton, and waterfall sections*/
    #bridge img, #badminton img, #waterfall img {
        padding: 1vw;
        width: 80%;
    }

    /*For styling the book and audio sections*/
    #book, #audio {
        padding: 2rem 1vw;
    }
}



/*CONTACT PAGE STYLING SECTION*/



/*For adding padding to the top of the form so it appears under the nav bar*/
#form {
    margin-top: 10vmax;
}

/*For styling the form on the contact page*/
form {
    background-color: var(--element-background);
    border-radius: 1em;
    border: 0.1rem solid var(--border-color);
    width: 50%;
    padding: 1vmax;
    margin: 0 auto;
}

/*For styling the list elements in the form*/
form li + li {
    margin-top: 1em;
}

/*For styling the lables in the form*/
label {
    display: inline-block;
    width: 5vw;
}

/*For styling the input parts of the form*/
input, textarea {
    vertical-align: top;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

/*For styling the input elements through attribute selector in the form*/
li > *[placeholder~="Enter"] {
    border: 0.2rem inset;
}

/*Media query that activates when the window width is less than 880px*/
@media only screen and (max-width: 880px) {
    /*For styling the form*/
    form {
        width: 80%;
    }
}

/*Media query that activates when the window width is less than 500px*/
@media only screen and (max-width: 500px) {
    /*For styling the form section*/
    #form {
        margin-top: 20%;
    }
}
